#footer
    .container
        .nav
            each val, index in footer.nav
                a(
                    href=viewUrl+val.href
                ) !{val.text}
                if index != (footer.nav.length-1)
                    !='&nbsp|&nbsp'
        p 抵制不良游戏&nbsp;拒绝盗版游戏&nbsp;注意自我保护&nbsp;谨防受骗上当&nbsp;适度游戏益脑&nbsp;沉迷游戏伤身&nbsp;合理安排时间&nbsp;享受健康生活
        p 网站备案：#{icp}&nbsp;&nbsp;#{company}&nbsp;&nbsp;运营中心：#{phone}
        p #{gameNetTag}&nbsp;&nbsp;住所&nbsp;:&nbsp;#{address}
    if html5
        script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
    else
        script(src='http://libs.baidu.com/jquery/1.9.1/jquery.min.js')
    if baseJs
        script(src=jsUrl+baseJs+'.js')
    if pageJs
        script(src=jsUrl+pageJs+'.js')
    if !html5
        //- rem ie8兼容方案
        != `<!--[if lte IE 8]><script src='${jsUrl}rem.min.js'></script><[endif]-->`