script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
script.
    var baseUrl = "#{baseUrl}",
        imgUrl = "#{imgUrl}",
        cssUrl = "#{cssUrl}",
        jsUrl = "#{jsUrl}",
        viewUrl = "#{viewUrl}",
        apiUrl = "#{apiUrl}",
        cacheUrl = "#{cacheUrl}";
    var PAYURL = "http://transit.haha78.com/";
    var index = 0,data = {};
script(src=jsUrl+'jweixin-1.0.0.js')
script(src=jsUrl+'iscroll.js')
script(src=jsUrl+'navbarscroll.js')
script(src=jsUrl+'alipay.js')
script(src=jsUrl+'wechat.js')
script(src=jsUrl+'phone.js')
if phoneJs
    script(src=jsUrl+phoneJs+'.js')

